@tailwind base;
@tailwind components;
@tailwind utilities;

input {
  outline: none;
  border: transparent;
}

.dragg {
  -webkit-app-region: drag;
  cursor: -webkit-grab;
}

.dragg:active {
  cursor: -webkit-grabbing;
}